package ${packageName}.controller;

import com.zhangzhuorui.framework.mybatis.simplebasecontroller.ZtSimpleBaseController;
import ${packageName}.entity.${entityName};
import io.swagger.annotations.Api;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

/**
 * $!{comment}
 *
 * @author ${author}
 * @createDate : ${date}
 * @description   :
 * @updateUser    :
 * @updateDate    :
 * @updateRemark  :
 * @version       :  1.0
 */
@Api(tags = "$!{comment}", value = "$!{comment}", description = "${entityName}Controller")
@RestController
@RequestMapping(value = "/${entityName}")
public class ${entityName}Controller extends ZtSimpleBaseController<${entityName}> {

}
