package ${packageName};

import com.zhangzhuorui.framework.mybatis.usedemo.${entityName};
import com.zhangzhuorui.framework.mybatis.simplebasemapper.ZtSimpleBaseMapper;
import org.apache.ibatis.annotations.Mapper;

/**
 * $!{comment} Mapper
 *
 * @author ${author}
 * @createDate : ${date}
 * @description   :
 * @updateUser    :
 * @updateDate    :
 * @updateRemark  :
 * @version       :  1.0
 */
@Mapper
public interface ${entityName}Mapper extends ZtSimpleBaseMapper<${entityName}> {

}