package ${packageName}.service;

import ${packageName}.entity.${entityName};
import com.zhangzhuorui.framework.mybatis.simplebaseservice.IZtSimpleBaseService;

/**
 * $!{comment} 服务类
 *
 * @author ${author}
 * @createDate : ${date}
 * @description   :
 * @updateUser    :
 * @updateDate    :
 * @updateRemark  :
 * @version       :  1.0
 */
public interface I${entityName}Service extends IZtSimpleBaseService<${entityName}> {

}

